/* Lab 1 */
/* .m-5 {
  margin: 5px;
}

.styles {
  border: none;
  width: 2rem;
  text-align: center;
} */

/* Lab 2 */
.mb-20 {
  margin-bottom: 20px;
}

.del {
  margin: 10px;
  color: green;
}

.btn {
  margin: 5px;
}

.b {
  margin: 10px;
}
